body {
    font-family: 'Roboto', sans-serif;
    text-align: left; 
    background-color: #877676b7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main{
    font-family: 'Acme', sans-serif; /*valde ett annat typsnitt i innehållet*/
    font-size: 15px;
    line-height: 1.6; 
    flex: 1;
}


.Meny ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(9, 9, 9);
}

.Meny li {
    float: left;
}

.Meny li a {
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Meny li a:hover {
    background-color: rgb(113, 130, 214);
}

.active {
    border-bottom: 2px solid #d5d5d5;
}



.presentation-container {
    display: flex;
    font-size: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.column img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    margin: 0;
    padding:0;
}

/* För mindre skärmar */
@media (max-width: 500px) {
    .presentation-container {
        font-size: 15px;
        flex-direction: column; 
    }
 .column
 {
    font-size: 18px;
 }
    
    .column2 img {
        flex: 1;
        padding: 20px;
        display: flex;
        justify-content: left;
        flex-direction: row; 
    }

    .Meny ul {
        width: 100%; 
    }

    .Meny li {
        width: 100%; 
    }
}